.detail-item {
    padding: 1em
}
.list-container {
    .list-item {
        word-wrap: break-word;
        padding: 1em;
    }
}
.header-title {
    margin: auto;
    text-align: center;
    margin: 2em;
}
.MuiInputBase-root {
    width: 100%;
}
.item-left, .item-right {
    width: 20%;
}
.item-center {
    width: 60%;
}